* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: right;
}

ul li {
    display: inline-block;
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
    margin: 20px 15px;
    color: black;
}

.intro {
    width: 500px;
    margin: 225px 0 0 150px;
}

.intro h1 {
    font-size: 44px;
    font-weight: 700;
    margin: 40px 0;
}

.intro p {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0 40px;
}

.img1 {}

.dowload {
    color: white;
    background: #FF6464;
    border: 1px solid #FF6464;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    margin: 0 145px;
}